.TeaSubscriptionsContainer {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
}

@media (max-width: 768px) {
  .TeaSubscriptionsContainer {
    align-items: center;
  }
}

@media (max-width: 425px) {
  .TeaSubscriptionsContainer {
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .TeaSubscriptionsContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .TeaSubscriptionsContainer {
    flex-direction: column;
    align-items: center;
  }
}